div.st-emotion-cache-j5r0tf.e1f1d6gn3 {
    background-color: #eeeeee00;
    border: 2px solid #cccccc4d;
    padding: 1% 1% 1% 2%;
    border-radius: 5px;
}

div.st-emotion-cache-1wivap2.e1i5pmia3 {
    font-size: medium;
}